header {
    text-align: center;
    
}

.navegacao{
    background-color: black;
}


button {
    border-top: none;
    border-bottom: none;
    border-left: none;
    background-color: white;
    padding: 1;
}


main {
    font-family: Arial, Helvetica, sans-serif;
    columns: 3;
    text-align: center;
}   


a {
    color: #1a2c72;
}


h1 {
    margin-top: 0;
    margin-bottom: 10;
    text-align: justify;
}

.borda{
    border-top: #000000 solid 2px;
}


p {
    text-align: justify;
}


hr {
    background-color:white;
    height: 15px;
    border: 0;
}

footer {
    text-align: center;
    margin-top: 25px;
}
.barranav{
    background-color: white;
}
.backcolor{
    background-color: white;
}
.corletras{
    color: black;
}
button{
    padding: 10px;
    margin: 5px;
}