
header{

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

main{
    margin-top: 260px;
}

p{
    text-align: justify;
    line-height: 1.5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 20px;
}
a{
    text-decoration: none;
}


.menutop{
    width: 100%;
    height: 170px;
    border-bottom: 3px solid #d40091;
    border-top: 10px solid  #d40091;
    background-color: white;
}

.topesp{
    width: 140px;
    float: left;
    padding-right: 520px;
}
.topdir{
    float: left;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 100px;
    color: #df56a4;
    padding-left: 35px;
    padding-top: 20px;
}

.menudown{
    background: #db5ecb;
    height: 40px;
    text-align: center;
}

.menu ul li{
    background-color: #db5ecb;
    width: 150px;
    height: 40px;
    float: left;
    display: inline;
    text-align: center;
    line-height: 40px;
    position: relative;

}
.menu ul li:hover{
    background-color: #f00291;
    
}

.menu ul{
    padding: 0;
    max-width: 800px;
}

.menu ul ul{
    display: none;
}

.menu ul li:hover > ul{
    display: block;
}

.menu ul ul:hover{
    display: block;
}

.menu ul ul li:hover{
    display: block;
}

.menu ul ul li:hover{
    display: block;
}

.menu ul ul ul {
    margin-left: 131px;
    position: absolute;
    top: 0px;
}
.menu ul ul ul li:hover{
    background-color: #a11d6c;
    display: block;
}

.clear{clear: both;}


